*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
form{
    width: 100%;
}
main{
    padding-bottom: 50px;
    background-color: #f1f3f6;
    padding: 10px 10px;
}
header{
    background-color: #2874f0;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 70px;
    position: relative;
    top:2px;
}
.logo img{
    width: 100%;
}
.explore{
    width: 80px;
    display: flex;
    white-space: nowrap;
    display: flex;
    /* justify-content: center; */
    align-content: flex-start;
    height: 100%;
    position: relative;
    top:-2px;
}
.explore a{
    display: flex;
    color: white;
}
.explore a:hover{
    text-decoration: underline;
}
.explore p{
    margin:0;
    font-size: 12px;
    font-style: italic;
    font-weight: 550;
    color:white;
    
}
.explore img{
    width: 10px;
    height: 10px;
    margin: 0;
}
.plus-icon{
    color:#ffe500;
    
}

/******search_container******/
.search_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    width: 400px;
    height: 32px;
    margin:0px 10px;
    background-color: white;
    border-radius: 1px;
    padding: 0px 15px;
    box-shadow: -5px -5px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    position: relative;
}
.search_container i{
    color:#2874f0;
}
.search_container input{
    width: 100%;
    font-size: 15px;
    border:none;
    outline: none;
}
.recent_Search{
    position: absolute;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    height: 400px;
    width: 100%;
    top: 32px;  /*****change done****/
    margin-left: -15px;
    border-top: 1px solid #ccc;
    display: none;
    padding:15px;
    z-index:12;   /*** change done****/
}
.search_container:focus-within .recent_Search{
    display: block;
}
.recent_list{
    display: flex;
    padding: 5px 0px;
}
.recent_list i{
    color:#7a7a7a;
    font-size: 14px;
}
.recent_list p{
    padding-left: 20px;
    font-size: 15px;
}
/*******loginBtn_container**********/
.loginBtn_container{
    background-color: white;
    padding: 6px 35px;
    font-size: 15px;
    border-radius: 1px;
    margin:0px 10px;
    position: relative;
}
.loginBtn_container a{
    color: #2874f0;
    font-weight: 550;
    text-decoration: none;
}
.login_menu{
    position: absolute;
    top:34px;
    height: 320px;
    width: 100%;
    width: 230px;
    background-color: transparent;
    margin-left: -40px;
    transform: translateX(-25%);
    display: none;
    padding-top: 15px;
    z-index:12; /*** change done****/
}
.login_menu::before{
    position: absolute;
    content: "";
    margin-left: 110px;
    top:1px;
    border-top:0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}
.loginBtn_container:hover .login_menu{
    display: block;
}
.login_menu_list{
    height: 100%;
    max-width: 100%;
    background-color: white;
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    padding: 5px 20px;
    font-size: 15px;
    
}
.login_menu_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.login_menu_top a:hover{
    text-decoration: underline;
}
.menu_nav_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.menu_nav_link a{
    padding-top: 10px;
    font-size: 14px;
    display: flex;
}
.menu_nav_link a p{
    padding-left: 10px;
    color:#474545;
    font-weight: 500;
}
.menu_nav_icon{
    width: 15px;
}





/******become a seller***/
.nav-link{
    color:white;
    padding:0px 15px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 550;
    margin: 0 5px;


}

/***more ****/
.more_link{
    font-weight: 550;
    padding:0px 15px;
    font-size: 15px;
    color:white;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
}
.icon_more{
    font-size: 10px;
    transition: transform 0.5s;
}
.more_link:hover .icon_more{
    transform: rotate(-180deg);
}
.more_menu{
    position: absolute;
    height:220px;
    width:200px;
    content: "";
    background-color: transparent;
    transform: translateX(-35%);  
    padding-top:10px;
    display: none;
   z-index: 12; /*** change done****/
    
}
.more_link:hover .more_menu{
    display: block;
}
.more_menu::before{
    position: absolute;
    content: "";
    margin-left: 95px;
    top:1px;
    border-top:0px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white; 
}
.more_menu_list{
    background-color: white;
    height: 100%;
    box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
    5px 5px 5px rgba(0,0,0,0.1);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: red; */
}
.more_menu_list a{
    display: flex;
    font-size: 14px;
}
.more_menu_list i{
    color: #2874f0;
}
.more_menu_list p{
    color:#474545;
    padding-left: 10px;
    white-space: nowrap;
    font-weight: 500 ;
}



.card_link{
    display: flex;
    font-size: 15px;
    font-weight: 550;
    color:white;
    margin-left: 10px;
}
.card_link p{
    padding: 0px 5px;
    
}

/* section */

.section-1 {
    width: 100%;
    height:122px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}
.section-1-container{
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}
.section-1-item img {
    width: 64px;
    height: 64px;
}
.section-1-item >a{
    color: black;
    font-size: 14px;
    font-weight: 550;
}
.section-1-item >a:hover{
    color: #2874f0;
}


/******imageSliderContainer*******/
.imageSliderContainer{
    position: relative;
    height: 280px;
    background-color: #f1f3f6;
    padding: 10px 0px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.imageSliderBtn{
    position: absolute;
    /* z-index: 10; */
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.imageSliderBtn button{
    padding: 30px 12px;
    background-color: white;
    border:none;
    outline: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    font-size: 30px;
    /* border-radius: 5px; */
    z-index: 13;
}
.imageSliderBtn button:nth-child(odd){
    border-radius: 0px 3px 3px 0px;
}
.imageSliderBtn button:nth-child(even){
    border-radius: 3px 0px 0px 3px;
}

.imageSliderList{
    position: absolute;
    /* top:15px; */
    z-index: 11;
    width: 99%;
    height: 95%;
    display: flex;
    overflow: hidden;
    
}
.imageSliderItem{
    min-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* transform: translateX(-400%); */
    transition: transform 0.5s;
}
.imageSliderItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
}

/* section 3 */
.section-3-container {
    margin-top: 8px;
    height: 122px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* section 4 */
.section-4-container {
    margin-top: 8px;
    height: 362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.section-4-offers {
     width: 230px;
     height: 100%;
     background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90');
     background-position: bottom;
     background-repeat: no-repeat;
}

.section-4-offers-viewall {
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4-offers-viewall button {
    margin-top: 24px;
    height: 40px;
    background-color: #2874f0;
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 /20%);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.section-4-list {
    height: 100%;
    width: calc(100% -230px);
    display: flex;
    overflow-x: auto;
}
.section-4-item {
    width: 232px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-4-item img {

max-width: 200px;
max-height: 200px;
}
.section-4-item-head {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}
.section-4-item-price {
    margin-top: 12px;
    font-size: 16px;
    color: #388e3c;
}
.section-4-item-explore {
    opacity: 0.6;
    margin-top: 12px;
    font-weight: 300;
    font-size: 16px;
}

/* section 5 */
.section-5 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.section-5 img {
    width: 33%;
}


/* section 6*/
.section-6-container {
    margin-top: 8px;
    height: 362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.section-6-offers {
     width: 230px;
     height: 100%;
     background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90');
     background-position: bottom;
     background-repeat: no-repeat;
}

.section-6-offers-viewall {
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-6-offers-viewall button {
    margin-top: 24px;
    height: 40px;
    background-color: #2874f0;
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 /20%);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.section-6-list {
    height: 100%;
    width: calc(100% -230px);
    display: flex;
    overflow-x: auto;
}
.section-6-item {
    width: 232px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section-6-item img {

max-width: 200px;
max-height: 200px;
cursor: pointer;
}
.section-6-item-head {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}
.section-6-item-price {
    margin-top: 12px;
    font-size: 16px;
    color: #388e3c;
}
.section-6-item-explore {
    opacity: 0.6;
    margin-top: 12px;
    font-weight: 300;
    font-size: 16px;
}


/* section 7*/
.section-7-container {
    margin-top: 8px;
    height: 362px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.section-7-offers {
     width: 230px;
     height: 100%;
    
     background-position: bottom;
     background-repeat: no-repeat;
}

.section-7-offers-viewall {
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-7-offers-viewall button {
    margin-top: 24px;
    height: 40px;
    background-color: #2874f0;
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 /20%);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.section-7-list {
    height: 100%;
    width: calc(100% -230px);
    display: flex;
    overflow-x: auto;
}
.section-7-item {
    width: 232px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section-7-item img {

max-width: 200px;
max-height: 200px;
cursor: pointer;
}
.section-7-item-head {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}
.section-7-item-price {
    margin-top: 12px;
    font-size: 16px;
    color: #388e3c;
}
.section-7-item-explore {
    opacity: 0.6;
    margin-top: 12px;
    font-weight: 300;
    font-size: 16px;
}
/* footer */
footer {
    margin-top: 26px;
    background-color: white;
    padding: 25px;
    
    font-size: 14px;
    color:#878787 ;
}